snippet dbac "db session add and commit"
db.session.add(${1})
db.session.commit()
${2}
endsnippet
snippet dba "db session add"
db.session.add(${1})
endsnippet
snippet dbc "db session commit"
db.session.commit()
${1}
endsnippet
snippet shebang "shebang"
#!/bin/python3
## ${1}
endsnippet
